/* Created by: Clara Tyaan
* Created on: Mar 2024
* This file contains the CSS for index.html
*/

.header-left {
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  font-size: large;
}

.year {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: (195, 242, 225);
}

.header-right {
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.colspan {
  padding-left: 70%;
}

h3 {
  background-color: (108, 196, 247);
  color: (233, 244, 255);
  text-align: center;
}

.quote {
  border-color: (154, 235, 255);
  background-color: (154, 235, 255);
  text-align: center;
  color: (0, 0, 0);
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
}