/* Created by: Clara Tyaan
* Created on: Feb 2024
* This file contains the CSS for index2.html
*/

.header-left {
  text-align: left;
  padding-top: 15px;
  padding-left: 10px;
}

.main-pic {
  margin: 0 auto;
  width: 400px;
  padding-left: 500px;
}

body {
  background-color: rgb(195, 242, 225);
}

.header-right {
  text-align: right;
  padding-top: 15px;
  padding-right: 10px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

h3 {
  background-color: rgb(108, 196, 247);
  color: rgb(233, 244, 255);
  text-align: center;
}

.infobox-table {
  float: right;
  text-align: center;
  border-style: solid;
  border-color: rgb(61, 97, 126);
  border-spacing: 2px;
}

.table-category {
  text-align: left;
  text-indent: 2px;
  font-weight: bold;
  width: 40%;
}

.name-in-box {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.quote {
  border-color: rgb(80, 114, 148);
  background-color: rgb(80, 114, 148);
  text-align: center;
  color: rgb(243, 253, 255);
  font-style: italic;
  font-size: small;
}